/* -------------------------------- 

Primary style

-------------------------------- */
body {
    min-height: 75rem;
    padding-top: 3.5rem;
    width: 100%;
    font-size: 100%;
    font-family: "PT Sans", sans-serif;
    color: #b4a046;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

s {
    border-bottom: 3px solid;
}


/*=====================================
  NAVBAR STYLES
    ===================================*/

/* Brand Name Modifier after Bootstrap.min */
.navbar-brand {
    font-size: 1.35rem;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
    color: #b4a046;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-toggler:focus, .navbar-inverse .navbar-toggler:hover {
    color: #ccb85f
}

.dropbtn {
    background-color: rgba(255, 255, 255, .15);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
    top: 46px;;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #f0ad4e;
}

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(180, 160, 70, .5)
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
    color: rgba(180, 160, 70, .75)
}

.navbar-inverse .navbar-nav .nav-link.disabled {
    color: rgba(180, 160, 70, .25)
}

.navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open > .nav-link {
    color: rgb(180, 160, 70)
}

/* For Nav Search Button */

.btn-outline-success {
    color: #b4a046;
    background-image: none;
    background-color: transparent;
    border-color: #b4a046;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #b4a046;
    border-color: #ccb653;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, .5);
    box-shadow: 0 0 0 2px rgba(92, 184, 92, .5)
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #5cb85c;
    background-color: transparent
}

.btn-outline-success.active, .btn-outline-success:active, .show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c
}
/* =========================
         Map Form 
============================*/

div #map {
  width: 100%;
}

/* Divide */

.content-wrapper {
  width: 100%;
  overflow: auto;
  margin-top:2%;
}

/* =========================
        Contact Form 
============================*/
.cd-wrapper {
  float: left;
  width: 75%;
  height: 100%;
}

.cd-contact-wrapper {
  width: 70%;
  margin-left: 12.5%;
}

.drop {
  font-size:30px;
}

.form-horizontal input.full-width {
  width: 65%;
}

.fieldset {
  left: 50%;
  margin-left: 250px;
  margin-top: 30px;
}

.form-horizontal input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #b4a046;
  color: #1a1a1a;
  font-weight: bold;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .form-horizontal input[type=submit]:hover, .no-touch .form-horizontal input[type=submit]:focus {
  background: #a08d39;
  outline: none;
}

hr.vertical {
   width: 1px;
   height: 100%; /* or height in PX */
} 

/* =========================
        Our Mail Form 
============================*/

.cd-us-wrapper {
  height: 100%;
  margin-right: 10%;
}


.company-name {
    font-size:26px;
}



/* =========================
        Footer Form 
============================*/
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #1a1a1a;
  color: #b4a046;
  text-decoration: none;
  width: 100%;
}
.about {
  color: #b4a044;
}

.contact {
  color: #b4a044;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: #c9b24e;
}