h1{
    text-align:center;
}
.ww{
    float:left;
}
figure{
    margin-left:25%;
}
.slideshow img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    display:none;
}
.slideshow{
    position:absolute;
    width:98%;
}
.w2{
    text-align:center;
}
img{
    border-radius:80px;
    max-width:400px;
}
